<div class="container mt-2">

  <div class="d-flex flex-column flex-md-row justify-content-md-between">
    <h2>My Movies</h2>

    <button type="button" class="btn btn-success" routerLink="/movie-form">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square-fill"
           viewBox="0 0 16 16">
        <path
          d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
      </svg>
      Add movie
    </button>
  </div>

  <app-movie-search #movieSearch></app-movie-search>


  <div class="mt-1 table-responsive" *ngIf="!movieSearch.term">
    <table class="table table-striped table-dark table-hover">
      <thead class="thead-dark">
      <th scope="col">Name</th>
      <th scope="col">Duration</th>
      <th scope="col">Genre</th>
      </thead>
      <tbody>
      <tr *ngFor="let movie of movies$ | async"
          [class.selected]="movie.id === selectedId"
          scope="row">
        <td routerLink="/detail/{{movie.id}}">{{movie.name}}</td>
        <td routerLink="/detail/{{movie.id}}">{{movie.duration}}</td>
        <td routerLink="/detail/{{movie.id}}">
          {{movie.genre1}}{{movie.genre2? ', ' + (movie.genre2 | lowercase) : ''}}{{movie.genre3? ', ' + (movie.genre3 |
          lowercase) : ''}}
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
