<div class="container mt-2">
  <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <app-custom-input label="Name"
                        placeholder="Name"
                        type="text"
                        formControlName="name"></app-custom-input>
    </div>
    <div class="form-group">
      <app-custom-input label="Duration"
                        placeholder="90"
                        type="number"
                        formControlName="duration"></app-custom-input>
    </div>
    <div class="form-group">
      <app-custom-input label="Genre"
                        placeholder="Genre1"
                        type="text"
                        formControlName="genre1"></app-custom-input>
    </div>
    <div class="form-group">
      <app-custom-input label="Genre 2"
                        placeholder="Genre2"
                        type="text"
                        formControlName="genre2"></app-custom-input>
    </div>
    <div class="form-group">
      <app-custom-input label="Genre 3"
                        placeholder="Genre3"
                        type="text"
                        formControlName="genre3"></app-custom-input>
    </div>
    <button type="submit" [disabled]="!movieForm.valid">Submit</button>

  </form>
  <!-- <pre><code>{{ movieForm.value | json }}</code></pre> -->
</div>
